.productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: .75rem;
}

@media (max-width: 600px) {
    .productList {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}